artifacts/obj/WebAppAspNet50ElasticsearchCrud/Debug
src/WebAppAspNet50ElasticsearchCrud/bower_components
.vs/WebAppAspNet50ElasticsearchCrud/v14/.suo
.vs/WebAppAspNet50ElasticsearchCrud/vbcs.cache
src/WebAppAspNet50ElasticsearchCrud/WebAppAspNet50ElasticsearchCrud.kproj.user
.vs/WebAppAspNet50ElasticsearchCrud/v14/vbcs.cache
src/WebAppAspNet50ElasticsearchCrud/wwwroot/bin
