src/WebAppAspNet50ElasticsearchCrud/bin
src/WebAppAspNet50ElasticsearchCrud/node_modules
src/WebAppAspNet50ElasticsearchCrud/node_modules
.vs/config/applicationhost.config
.vs/WebAppAspNet50ElasticsearchCrud/v14/.suo
