<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebAppAspNetCoreElasticsearchCrud</title>

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/jquery-ui/css/autocomplete.css" />
    <link rel="stylesheet" href="~/lib/jquery-ui/css/base.css" />
    <link rel="stylesheet" href="~/lib/jquery-ui/css/all.css" />
    <link rel="stylesheet" href="~/lib/jquery-ui/css/theme.css" />
    <link rel="stylesheet" href="~/lib/jquery-ui/css/core.css" />
    <link rel="stylesheet" href="~/lib/jquery-ui/css/jquery-ui.css" />
    <link rel="stylesheet" href="~/lib/jquery-ui/css/selectable.css" />
    <link rel="stylesheet" href="~/lib/jquery-ui/css/selectmenu.css" />
</head>
<body>
   
    <div class="container body-content">
        @RenderBody()

        <script src="~/lib/jquery/js/jquery.js"></script>
        <script src="~/lib/jquery-ui/js/jquery-ui.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
